@import '../../public/colors.module.scss';

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Logo {
    margin: auto;
    margin-top: 140px;
    margin-bottom: 96px;
    width: 100px;
  }

  .Button {
    width: 185px;
    height: 50px;
    background: $green-gradient;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 33px;
    color: $dark-blue;
    cursor: pointer;
  }
}
