@import "../colors";
@import "../fonts";

.PlaylistPage {
    min-width: 100%;

    .Header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 230px;
        background: $purple;
        color: $blue;
        border-radius: 0px 0px 15px 15px;
        box-sizing: border-box;
        padding: 80px 30px 30px 30px;
        display: flex;
        z-index: 2;

        .HeaderContent {
            display: flex;
            margin: auto;
        }

        .PlaylistPic {
            max-width: 120px;
            height: 120px;
            background: $gray;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
                0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            object-fit: cover;
        }

        .PlaylistInfo {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 20px;

            .PlaylistName {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .Play {
                position: absolute;
                right: 30px;
                bottom: 30px;
                height: 22px;
                width: 22px;
                margin-top: auto;
                margin-left: auto;
                cursor: pointer;
            }
        }
    }

    .Content {
        position: relative;
        margin-top: 170px;
        min-width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        z-index: 1;
        display: flex;
        flex-direction: column;

        .SearchBar {
            width: 100%;
            height: 36px;
            border: 2px solid $blue;
            border-radius: 15px;
            font-family: $font1;
            font-weight: bold;
            color: $blue;
            font-size: 18px;
            line-height: 21px;
            box-sizing: border-box;
            padding: 0 10px;
            margin-bottom: 30px;
        }

        .Select {
            margin-left: auto;
            width: 250px;
            height: 36px;
            border: 2px solid $purple;
            border-radius: 5px;
            font-family: $font1;
            font-weight: bold;
            color: $white;
            font-size: 20px;
            line-height: 23px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: $black;
            background-repeat: no-repeat, repeat;
            background-position: right 10px top 50%, 0 0;
            padding-left: 6px;
    
            background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            &::-ms-expand {
                display: none;
            }
        }
    }

    .BottomPadding {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $black;
        z-index: 0
    }
}