@import '../../../public/styles/colors';

.Track {
  width: 120px;
  height: 160px;
  margin-right: 32px;

  .TrackPic {
    width: 120px;
    height: 120px;
    background: $gray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .TrackName {
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
  }

  .TrackName,
  .TrackArtist {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.MiniTrack {
  display: flex;
  color: $white;

  .TrackPic {
    min-width: 60px;
    height: 60px;
    background: $gray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .TrackInfo {
    margin-left: 15px;

    .TrackName {
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
