.RecentTrack {
  display: inline-block;
  width: 80px;
  height: 120px;
  border-right: 15px solid transparent;

  .TrackPic {
    background: #c4c4c4;
    width: 80px;
    height: 80px;
    border-radius: 100px;
  }

  .TrackName,
  .TrackArtist {
    margin-bottom: 0;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .TrackName {
    margin-top: 8px;
  }

  .TrackArtist {
    margin-top: 0;
    font-weight: lighter;
  }
}
