@import '../../../public/colors';

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .MenuIcon {
    height: 22px;
    cursor: pointer;
  }
}

.NavMenu {
  height: 100vh;
  width: 100%;
  background: $background;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  .NavLinks {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    color: $text;

    .Link {
      margin-bottom: 60px;

      span {
        cursor: pointer;

        &:visited {
          color: $text;
        }

        &:hover {
          color: $text;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
