.ArtistPage {
  margin: 0 30px;
  display: flex;
  flex-direction: column;

  .ArtistHead {
    margin: 0 auto;
    margin-bottom: 18px;

    .ArtistPic {
      margin: 0 auto;
      width: 132px;
      height: 132px;
      background: #c4c4c4;
      border-radius: 100px;
      margin-bottom: 10px;
    }
    .ArtistName {
      font-size: 22px;
      line-height: 33px;
    }
  }

  .ArtistHeader {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .Song {
    margin: 0 10px;
    margin-bottom: 8px;

    .SongTitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      line-height: 21px;
    }

    .SongArtist {
      font-size: 10px;
      line-height: 15px;
    }
  }

  .AlbumDeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      margin-bottom: 8px;
    }
  }
}
