.ArtistPage {
  display: flex;
  flex-direction: column;

  .ArtistHead {
    margin: 0 auto;
    margin-bottom: 18px;

    .ArtistPic {
      width: 132px;
      height: 132px;
      background: #c4c4c4;
      border-radius: 100px;
      margin-bottom: 10px;
    }
    .ArtistName {
      font-size: 22px;
      line-height: 33px;
    }
  }

  .ArtistHeader {
    margin: 0 30px;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .Song {
    margin: 0 40px;
    margin-bottom: 8px;

    .SongTitle {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      line-height: 21px;
    }

    .SongArtist {
      font-size: 10px;
      line-height: 15px;
    }
  }

  .PlaylistWheel {
    display: flex;
    overflow-x: auto;
    margin-bottom: 24px;
    padding: 0 30px;

    div:last-child {
      border-right: 30px solid transparent;
    }
  }
}
