@import '../../public/colors.module.scss';

.MiniPlayer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $green;
  height: 70px;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  z-index: 2;

  .AlbumPic {
    width: 40px;
    height: 40px;
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 10px;
  }

  .SongInfo {
    display: flex;
    flex-direction: column;
    color: $dark-blue;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .SongName,
    .SongArtist {
      margin: 0;
      font-size: 12px;
      line-height: 18px;
    }

    .SongArtist {
      font-weight: 300;
    }
  }

  .Toggle {
    color: $dark-blue;
    margin: 0 auto;
    height: 18px;
    cursor: pointer;
  }

  .Controls {
    display: flex;
    color: $dark-blue;

    .Skip {
      width: 16px;
      cursor: pointer;
    }

    .Play {
      width: 24px;
      margin: 0 18px;
      cursor: pointer;
    }
  }
}

.BigPlayer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $green;
  height: calc(100% - 82px);
  box-sizing: border-box;
  padding: 42px 36px;
  padding-top: 16px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $dark-blue;
  z-index: 2;

  .Toggle {
    color: $dark-blue;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 25px;
    cursor: pointer;
  }

  .TopControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .Update {
      height: 25px;
    }

    .UriName {
      margin: 0;
      font-size: 18px;
      line-height: 27px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .PlayerContent {
    margin: auto 0;
  }

  .AlbumPic {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .SongName,
  .SongArtist {
    margin: 0;
    font-size: 22px;
    line-height: 33px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .SongArtist {
    font-weight: 300;
    margin-bottom: 15px;
  }

  .Controls {
    display: flex;
    align-items: center;
    justify-content: center;

    .Skip {
      height: 25px;
    }

    .Play {
      width: 70px;
      margin: 0 30px;
    }
  }
}
