@import '../../public/colors.module.scss';

.MiniPlayer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $green;
  height: 70px;
  box-sizing: border-box;
  padding: 15px 20px;
  border-radius: 15px 15px 0px 0px;

  display: flex;

  .AlbumPic {
    width: 40px;
    height: 40px;
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 10px;
  }

  .SongInfo {
    display: flex;
    flex-direction: column;
    color: $dark-blue;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .SongName,
    .SongArtist {
      margin: 0;
      font-size: 12px;
      line-height: 18px;
    }

    .SongArtist {
      font-weight: 300;
    }
  }

  .Controls {
    margin-left: auto;
    display: flex;
    color: $dark-blue;

    .Skip {
      width: 16px;
    }

    .Play {
      width: 24px;
      margin: 0 18px;
    }
  }
}
