.ProfilePage {
  margin: 0 30px;
  display: flex;
  flex-direction: column;

  .ProfileHead {
    margin: 0 auto;
    margin-bottom: 18px;

    .ProfilePic {
      margin: 0 auto;
      width: 132px;
      height: 132px;
      background: #c4c4c4;
      border-radius: 100px;
      margin-bottom: 10px;
      object-fit: cover;
    }

    .ProfileName {
      font-size: 22px;
      line-height: 33px;
    }
  }

  .ProfileHeader {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .PlaylistDeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div {
      margin-bottom: 8px;
    }
  }
}
