@import '../../../public/colors';
@import '../../../public/fonts';

.BrowseContent {
  margin: 0 30px;

  .BrowseBar {
    display: flex;
    align-items: center;

    .BrowseIcon {
      height: 18px;
    }

    .SearchBar {
      margin-left: 12px;
      font-family: $font;
      background: transparent;
      color: $text;
      border: none;
      border-bottom: 2px solid $text;
      width: 80%;
      max-width: 500px;
    }
  }

  .BrowseResults {
    margin-top: 20px;

    .ResultsHeader {
      font-size: 18px;
      line-height: 27px;
      margin: 18px 0;
      margin-bottom: 10px;
    }

    .Song,
    .Artist,
    .Album,
    .Playlist {
      margin-bottom: 8px;
    }

    .Song {
      margin-left: 10px;

      .SongTitle {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        line-height: 21px;
      }

      .SongArtist {
        font-size: 10px;
        line-height: 15px;
        font-weight: lighter;
      }
    }

    .Artist {
      display: flex;
      .ArtistPic {
        background: #c4c4c4;
        border-radius: 100px;
        height: 40px;
        min-width: 40px;
        margin-right: 10px;
      }

      .ArtistName {
        font-size: 14px;
        line-height: 21px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .Album {
      display: flex;

      .AlbumPic {
        background: #c4c4c4;
        border-radius: 5px;
        height: 40px;
        min-width: 40px;
        margin-right: 10px;
      }

      .AlbumInfo {
        display: flex;
        flex-direction: column;
        width: 82%;

        .AlbumName {
          margin: 0;
          font-size: 14px;
          line-height: 21px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .AlbumYear {
          margin: 0;
          font-size: 10px;
          line-height: 15px;
          font-weight: lighter;
        }
      }
    }

    .Playlist {
      display: flex;

      .PlaylistPic {
        background: #c4c4c4;
        border-radius: 5px;
        height: 40px;
        min-width: 40px;
        margin-right: 10px;
      }

      .PlaylistInfo {
        display: flex;
        flex-direction: column;
        width: 82%;

        .PlaylistName {
          font-size: 14px;
          line-height: 21px;
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .NumTracks {
          margin: 0;
          font-size: 10px;
          line-height: 15px;
          font-weight: lighter;
        }
      }
    }
  }
}
