@import '../../public/colors.module.scss';

.Home {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .Header {
    font-size: 18px;
    line-height: 27px;
    margin-left: 30px;
    margin-bottom: 8px;
  }

  .HeaderLink,
  .HeaderLink2 {
    cursor: pointer;
    align-self: flex-start;

    &:hover {
      color: $green;
    }
  }

  .HeaderLink2 {
    margin-bottom: 15px;
  }

  .RecentTrackWheel,
  .PlaylistWheel {
    display: flex;
    overflow-x: auto;
    margin-bottom: 24px;
    padding: 0 30px;

    div:last-child {
      border-right: 30px solid transparent;
    }
  }
}
