.Home {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .Header {
    margin-left: 30px;
    margin-top: 40px;
  }

  .CardWheel {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    padding: 0 30px;
    height: 210px;

    div:last-child {
      border-right: 30px solid transparent;
    }
  }
}
