// Colors
$blue-gradient: linear-gradient(180deg, #051041 0%, #020821 100%);
$green-gradient: linear-gradient(180deg, #09dcb2 0%, #77e073 100%);
$off-white: #f7f7fb;
$green: #24cf5f;
$dark-blue: #051041;
